.filters {
    background-color: white;
    height: 70px;
    width: 99%;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
}

.filters button {
    font-size: 18px;
    background-color: #FF5A5F;
    color: #FFFFFF;
    height: 48px;
    width: 20%;
    border: 0;
    border-radius: 4px;
    float: right;
    margin: 12px 30px;
}

.filters button:hover {
    opacity: 90%;
}